<%- include('partials/header') -%>

<main >
    <h2 class="my-4 text-center"><%= title %></h2>

    <div class="w-75 m-auto">
        <p class="text-custom-s"><%= content %></p>
    </div>

    
</main>

<%- include('partials/footer') -%>